<div class="main-inner">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-header">
            <h2 class="post-title post-title-c"><%= __('archives') %></h2>
            <%
            var cheers,posts_length = site.posts.length;
            if (posts_length > 210) {
                cheers = 'excellent';
            } else if (posts_length > 130) {
                cheers = 'great';
            } else if (posts_length > 80) {
                cheers = 'good';
            } else if (posts_length > 50) {
                cheers = 'nice';
            } else if (posts_length > 30) {
                cheers = 'ok';
            } else {
                cheers = 'um';
            }
            %>
            <h3 class="post-title-s"><%= __('cheers.' + cheers)  %>! <%= _p('post_total_count',site.posts.length) %></h3>
        </div>
        <!--<p><img src="/images/category-bg.jpg" alt="category-bg" class="page-img"></p>-->
        <div class="post-content markdown-body" itemprop="articleBody">
            <div class="archives">
                <% var lastDate; %>
                <% site.posts.sort('date', -1).each(function(post, i){ %>
                <% var currentDate = parseInt(date(post.date, 'YYYYMM')); %>
                <% if (lastDate != currentDate){ %>
                <% lastDate = currentDate; %>
                <div class="archives-item">
                    <h2><%= date(post.date, 'YYYY') %>年<%= date(post.date, 'MM') %>月</h2>
                    <ul class="archives_list">
                        <% } %>
                        <li><%= date(post.date, 'DD') %>日<%= time(post.date) %>
                            <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                        </li>
                        <% if (!site.posts.sort('date', -1).eq(i + 1) || currentDate != parseInt(date(site.posts.sort('date', -1).eq(i + 1).date, 'YYYYMM'))){ %>
                    </ul>
                </div>
                <% } %>
                <% }) %>
            </div>
        </div>
    </article>
</div>
